<ion-content>
<form (click)="createBlog()" >
<ion-item>
  <ion-label>Title</ion-label>
  <ion-input name="title" [(ngModel)]="newsItem.title" placeholder="Enter title"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Description</ion-label>
  <ion-textarea name="description" [(ngModel)]="newsItem.description" placeholder="Enter description"></ion-textarea>
</ion-item>

<ion-item *ngIf="newsItem.image">
  <ion-thumbnail slot="start">
    <img [src]="newsItem.image" alt="Article Image">
  </ion-thumbnail>
</ion-item>

<ion-button  type="submit" expand="block"  >Post Article</ion-button>
</form>

</ion-content>


