<ion-header color="red" >
  <ion-toolbar>
    <ion-title slot="">
      Semans Blog
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
    debounce="800"
    #searchInput
    mode="ios"
    class="'ion-searchbar"
    placeholder="search"
  >
  
  </ion-searchbar>
   
  </ion-toolbar>
</ion-header>

 

<ion-content >
  <ion-row>

    @for(item of newsItems; track item.id) { 
      <ion-col >
        <ion-card>
          <ion-thumbnail>
            <ion-img>
              [src] = "item?.image"
            </ion-img>
          </ion-thumbnail>
          <ion-label>
            <ion-text color="red">{{item?.title}}</ion-text>
            <p>
              <ion-text>
                <strong>{{item?.category}}</strong>
              </ion-text>
            </p>
          </ion-label>
        </ion-card>
      </ion-col>
    }
    
    <ion-text>hh</ion-text>
  
    

  </ion-row>
 
  
</ion-content>
