<ion-header color="red" >
  <ion-toolbar>
    <ion-title slot="">
      Semans Blog
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
    debounce="800"
    #searchInput
    mode="ios"
    class="'ion-searchbar"
    placeholder="search"
  >
  
  </ion-searchbar>
   
  </ion-toolbar>
</ion-header>

 

<ion-content >
  <ion-item [routerLink] = "['/add-form-page']">
    Add Blog
  </ion-item>
  
  <ion-row>

    @for(item of newsItem; track item.id) { 
      <ion-col >
        <ion-card  [routerLink] = "['/details-page',  item?.id ]"     >
          <ion-thumbnail>
            <ion-img [src] = "item?.image">
              
            </ion-img>
          </ion-thumbnail>
          <ion-label>
            <ion-text color="red">{{item?.title}}</ion-text>
            <p>
              <ion-text>
                <strong>{{item?.category}}</strong>
              </ion-text>
            </p>
          </ion-label>
         >
        </ion-card>
       
      </ion-col>
    }
    
   
  
    

  </ion-row>
  <ion-text>hh</ion-text>
  
 
  
</ion-content>
